.container{
    text-align: center;
    margin: auto;
    border: 5px solid #96C7C1;
    border-radius: 10px;
    padding: 0 15px;
}
.container a{
    color: blue;
}
.wiki{
    font-size: 15px;
}
.result{
    border: 5px solid #96C7C1;
    border-radius: 10px;
}