.sidenav {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(223, 223, 223);
  overflow-x: hidden;
  padding-top: 20px;
}

.img__top{
  border-radius: 5px;
  height: 35px;
  width: 35px;
  cursor: pointer;
}
.img{
  margin-top: 50px;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  width: 35px;
}
