.sidenav {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(219, 219, 219);
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.img{
  border-radius: 5px;
  height: 35px;
  width: 35px;
}