/* .navbar {

    top: 0;
    background-color: transparent;
    overflow-x: hidden;
  } */

  .navbar{
      position: fixed;
      overflow-x: hidden;
      z-index: 1;
      width: 100%;
      background-color: black;
      top: 0;
      display: flex;
      flex-direction: row;
  }
  .navbar h2 {
    color: #f2f2f2;
  }
  .navbar a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }