.container{
  text-align: center;
}
.container h2{
margin-top: 100px;
}
.title{
  display: flex;
  justify-content:space-evenly;
}

.labs__header{
  height: 80px;
    max-width: 320px;
    margin-bottom: 8px;
    box-sizing: border-box;
    text-align: left;
    border-left: 12px solid;
    border-color: #96C7C1;
}

.courses__header{
  height: 80px;
    max-width: 320px;
    margin-bottom: 8px;
    box-sizing: border-box;
    text-align: left;
    border-left: 12px solid;
    border-color: #C85C5C;
}

.demos__header{
  height: 80px;
    max-width: 320px;
    margin-bottom: 8px;
    box-sizing: border-box;
    text-align: left;
    border-left: 12px solid;
    border-color: #99A799;
}

.description{
  display: flex;
  justify-content:space-evenly;
  margin-left: 168px;
}

.p{
  margin-right: 20px;
  text-align: left;
  color:rgb(134, 134, 134);
  max-width: 400px;
  font-size: 20px;
}

.icons{
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
}

.button{
  margin: 60px 30px 20px 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  width: 120px;
  height: 30px;
}
.button:hover{
  border: 1px solid wheat;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.formdiv{
  margin: 100px;
  padding: 50px;
}

.input{
  border: 0px;
}
.back{
  color: #5988EA;
  margin: 30px;
}
.helper{
  margin-top: 150px;
}