.container{
  text-align: center;
}
.title{
  display: flex;
  justify-content:space-evenly;
}
.headar{
  height: 80px;
    max-width: 320px;
    margin-bottom: 8px;
    box-sizing: border-box;
    text-align: left;
    border-left: 12px solid;
    border-color: rgb(59, 148, 106);
}
.p{
  margin-right: 20px;
  text-align: left;
  color:rgb(134, 134, 134);
  max-width: 890px;
  font-size: 20px;
}

.bio{
  text-align: left;
  width: 400px;
  margin-left: 50px;
}
.header{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.info{
margin-top: 30px;
text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.button{
  margin-top: 5px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid black;
  width: 90px;
  height: 25px;
}
.button:hover{
background-color: black;
color:white;
}

.file{
 border: 1px solid black;
 display: flex;
 width: 210px;
 margin: auto;
 margin-top: 30px;
 justify-content: center;
 text-align: center;
}
.file:hover{
 background-color: black;
 color: blanchedalmond;
}