.container{
    text-align: center;
    font-size: 25px;
}
.container a{
    color: #C85C5C;
    text-decoration: underline;
}
.container ul {
    padding: 0;
}
.container li{
    list-style-type: none;
    line-height: 1.4;
}
.header{
    padding-top: 80px;
    padding-bottom: 40px;
}
.programmer,
.tools,
.javascript,
.other{
    margin: 20px 20px;
}
.categories{
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 500px;
    background-color: #99A799;
    margin: 20px 100px;
    border-radius: 10px;
    box-shadow: 10px 0px 20px rgb(69, 68, 68);
}
